nav {
  background-color: var(--white);

  padding: 0px;
  box-shadow: 0px 4px 24px 0px #00000014;

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 108px;
    padding: 0px;
    .nav-brand {
      display: flex;
      align-items: center;

      .navbar-toggler {
        border: none;
      }
      div.toggle-bar {
        width: 30px;

        .bar {
          display: block;
          width: 100%;
          height: 5px;
          margin-top: 3.5px;
          background-color: var(--pink);
        }
      }
      .logo {
        width: 100%;
        max-width: none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    .navbar-links {
      display: flex;
      align-items: center;
      width: 70%;
      justify-content: space-around;
      padding-top: 2px;

      .navbar-link {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.18px;
        text-decoration: none;
        color: var(--darkGray);
        cursor: pointer;
        padding-bottom: 38px;
      }
      .contact-nav {
        padding-right: 3px;
        img {
          padding-bottom: 4px;
        }
      }
      .nav-item.active {
        a {
          color: var(--pink);

          border-bottom: 6px solid var(--pink);
        }
        svg {
          fill: var(--pink);
        }
      }
      .nav-item {
        svg {
          fill: var(--darkGray);
        }
      }

      .nav-item:hover {
        color: var(--pink);

        svg {
          fill: var(--pink);
        }
      }

      .nav .navbar-link.disabled {
        color: var(--darkGray);
      }

      .navbar-link:hover {
        color: var(--pink);
      }
    }
  }

  .user-tab {
    cursor: pointer;

    padding-right: 1.2px;
    display: flex;
    align-items: center;

    .border-line {
      border-left: 1px solid #c4c4c4;
      height: 45px;
    }
    .user-img {
      padding-right: 12px;
      padding-bottom: 3px;
      margin-left: 40px;
    }

    .arrow-down {
      padding-left: 0.8px;

      .arrow-icon {
        padding-top: 5px;
      }
    }
  }
}

//Media  Queries

@media (min-width: 1440px) {
  .navbar-expand-lg {
    justify-content: center !important;
  }

  .nav-container {
    margin-left: 62px !important;
    margin-right: 62px !important;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 991px) {
  nav {
    padding: 24px 0;
    .nav-container {
      height: 100% !important;

      padding-top: 3.5px;
      padding-bottom: 10px;
    }

    .nav-brand {
      justify-content: space-between;
      width: 100%;

      .logo {
        width: 80% !important;
      }
    }

    .navbar-links {
      align-items: flex-start !important;
      width: 100% !important;

      .nav-item {
        padding: 20px 0;
        .navbar-link {
          padding-bottom: 10px !important;
        }
      }
      .nav-item.active {
        a {
          border: none !important;
        }
      }
    }

    .user-tab {
      .border-line {
        display: none;
      }
      padding-top: 10px;

      .user-img {
        margin: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
