.container-fluid {
  padding: 0;




.title{
  font-weight: 700;
  line-height: 36px;
  
  }
  
  .card-row {
    display: none;
  }


  .top {
    text-align: center;
    height: 72px;
    margin: 41px auto 19px;
    padding: 0 0px 0 92px;
    width: 450px;
  }
  
  .top-filter {
    display: flex;
    margin-bottom: 28px;


    button:focus,a {
      border: none !important;
    }

    button:active,a {
      border: none !important;
    }

    .input-group {
      width: 739px;
      margin-right: 18px;
      input {
        border-left: 0 !important;
        border: 0.5px solid #989b9b;
        padding-left: 14px;
        padding-top: 7px;
      }
  
      input::placeholder {
        font-family: "Aileron";
        font-style: normal;
        color: var(--lightGray);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
  
        letter-spacing: 0.1px;
      }
  
      .input-group-append {
        margin-right: -3px !important;
  
        cursor: pointer;
      }
      .input-group-text {
        color: #dadada;
        padding: 15px 4px 16px 21px;
        line-height: 2 !important;
        background-color: var(--white) !important;
        border-right: 0 !important;
      }
    }
  
    .filter-btn {
      margin-right: 16px;
  
      .btn {
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.25px;
        padding: 17px 10px 7.8px 8px;
        background: #ebebeb;
        border-radius: 5px;
        width: 111px;
        height: 58px;
        color: #1c0b11;
      }
  
      .btn:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
  
  .create-btn {
    width: 192px;
    button {
      padding: 11px 12px 20px 0px;
      color: var(--white);
      background: #ff5a70;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      width: 100%;
      height: 58px;
      letter-spacing: 0.18px;
    }
  
    button:hover {
      background: #fd3a54;
    }
  }
}


//Media Queries

@media (min-width: 1440px) {
  .top-filter {
    justify-content: center;
  }
}

@media (max-width: 1398px) {
  .input-group {
    width: 600px !important;
  }
}

@media (max-width: 1240px) {
  .top-filter {
    justify-content: space-evenly;
  }
  .input-group {
    width: 600px !important;
  }
}

@media (max-width: 991px) {
  .top {
    width: 100% !important;
    padding: 0 !important;
    height: 100% !important;
    margin-bottom: 45px !important;
  }

  .table {
    display: none;
  }
  .card-row {
    display: block !important;
  }

  .top-filter {
    display: block !important;

    .input-group {
      width: 100% !important;
      margin-bottom: 17px;
    }

    .side-filter {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 24px !important;
  }
  .side-filter {
    justify-content: space-between !important;
  }
}
