.card-list {
  .card {
    border: none;
  }

  .card-body {
    background-color: var(--white);
    padding: 10px 18px 10px 13px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  ul {
    li {
      list-style: none;
      display: flex;
      justify-content: space-between;

      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      height: 37px;
      align-items: center;
      padding-left: 20px;
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.1px;
        width: 50%;
      }

      .action-group {
        .dropdown-menu {
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          border: 0;

          li {
            padding-left: 0;
          }
          li + li {
            border-top: 1px solid #ebebeb;
          }
          .dropdown-item {
            img {
              padding-right: 11px;
            }
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #3b3b3b;
            padding-top: 6px;
            padding-bottom: 6px;
          }

          .dropdown-item:hover {
            color: var(--pink);
          }
        }
      }
    }

    .main-list:nth-of-type(odd) {
      background-color: var(--backgroudGray);
    }

    .pointer {
      border-radius: 50%;
      display: inline-block;
      width: 4.01px;
      height: 4.01px;
    }

    .status-style {
      span {
        padding: 4px 8px 4px;
        border-radius: 16.0494px;
      }
      .status {
        font-weight: 700;
        font-size: 8.02469px;
        line-height: 10px;
      }
    }
    .dropdown-toggle::after {
      display: none !important;
    }
  }
}

//Media Query

@media (max-width: 440px) {
  table {
    padding-bottom: 10px;
  }
}
