<div class="filter-bar">
  <div class="bar1 bars">
    <div class="dropdown date-bar">
      <button
        class="btn dropdown-toggle"
        type="button"
        data-bs-toggle="datedropdown"
        aria-expanded="false"
      >

        <span class="center"> 
          <span class="left">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5 11.7C5.55 11.7 6 12.105 6 12.6C6 13.095 5.55 13.5 5 13.5C4.45 13.5 4 13.095 4 12.6C4 12.105 4.45 11.7 5 11.7ZM13 11.7C13.55 11.7 14 12.105 14 12.6C14 13.095 13.55 13.5 13 13.5H9C8.45 13.5 8 13.095 8 12.6C8 12.105 8.45 11.7 9 11.7H13ZM15 16.2H3C2.45 16.2 2 15.795 2 15.3V9.9H16V15.3C16 15.795 15.55 16.2 15 16.2ZM3 3.6H4V4.5C4 4.995 4.45 5.4 5 5.4C5.55 5.4 6 4.995 6 4.5V3.6H12V4.5C12 4.995 12.45 5.4 13 5.4C13.55 5.4 14 4.995 14 4.5V3.6H15C15.55 3.6 16 4.005 16 4.5V8.1H2V4.5C2 4.005 2.45 3.6 3 3.6ZM15 1.8H14V0.9C14 0.405 13.55 0 13 0C12.45 0 12 0.405 12 0.9V1.8H6V0.9C6 0.405 5.55 0 5 0C4.45 0 4 0.405 4 0.9V1.8H3C1.35 1.8 0 3.015 0 4.5V15.3C0 16.785 1.35 18 3 18H15C16.65 18 18 16.785 18 15.3V4.5C18 3.015 16.65 1.8 15 1.8Z"
                fill="#898989"
              />
            </svg>
          </span>
          Create on: Jan/10/21 - Jan/28/21 </span>

        <span>
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.645 0L7 4.94467L12.355 0L14 1.52227L7 8L0 1.52227L1.645 0Z"
              fill="#898989"
            />
          </svg>
        </span>
      </button>
    </div>
  </div>
  <div class="bar2 bars">
    <div class="dropdown type-bar">
      <button
        class="btn dropdown-toggle"
        type="button"
        role="button" data-bs-toggle="dropdown" aria-expanded="false"
      >
        <span class="center"> Contract type </span>

        <span>
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.645 0L7 4.94467L12.355 0L14 1.52227L7 8L0 1.52227L1.645 0Z"
              fill="#898989"
            />
          </svg>
        </span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item">Traditional</a></li>
        <li><a class="dropdown-item">Permanent</a></li>
        <li><a class="dropdown-item">Contractor</a></li>
      </ul>

    </div>
  </div>
  <div class="bar3 bars">
    <div class=" nameSearch-bar">
      <input type="text" class="form-control" placeholder="Contractor Name" />
    </div>
  </div>
  <div class="bar4 bars">
    <div class="dropdown status-bar">
      <button
        class="btn dropdown-toggle"
        type="button"
        role="button" data-bs-toggle="dropdown" aria-expanded="false"

      >
        <span class="center"> Status </span>

        <span>
          <svg
            width="14"
            height="8"
            viewBox="0 0 14 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.645 0L7 4.94467L12.355 0L14 1.52227L7 8L0 1.52227L1.645 0Z"
              fill="#898989"
            />
          </svg>
        </span>
      </button>

      <ul class="dropdown-menu">
        <li><a class="dropdown-item">Active</a></li>
        <li><a class="dropdown-item">Signature pending</a></li>
      </ul>

    </div>
  </div>

  <div class="clear">
    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.55 5.85C4.9075 5.85 5.2 6.1425 5.2 6.5V9.1C5.2 9.4575 4.9075 9.75 4.55 9.75C4.1925 9.75 3.9 9.4575 3.9 9.1V6.5C3.9 6.1425 4.1925 5.85 4.55 5.85ZM8.45 5.85C8.8075 5.85 9.1 6.1425 9.1 6.5V9.1C9.1 9.4575 8.8075 9.75 8.45 9.75C8.0925 9.75 7.8 9.4575 7.8 9.1V6.5C7.8 6.1425 8.0925 5.85 8.45 5.85ZM10.4 11.05C10.4 11.4075 10.1075 11.7 9.75 11.7H3.25C2.8925 11.7 2.6 11.4075 2.6 11.05V3.9H10.4V11.05ZM5.2 1.5145C5.2 1.4105 5.3365 1.3 5.525 1.3H7.475C7.6635 1.3 7.8 1.4105 7.8 1.5145V2.6H5.2V1.5145ZM12.35 2.6H11.7H9.1V1.5145C9.1 0.676 8.372 0 7.475 0H5.525C4.628 0 3.9 0.676 3.9 1.5145V2.6H1.3H0.65C0.2925 2.6 0 2.8925 0 3.25C0 3.6075 0.2925 3.9 0.65 3.9H1.3V11.05C1.3 12.1225 2.1775 13 3.25 13H9.75C10.8225 13 11.7 12.1225 11.7 11.05V3.9H12.35C12.7075 3.9 13 3.6075 13 3.25C13 2.8925 12.7075 2.6 12.35 2.6Z" fill="#FF5A70"/>
      </svg>
        Clear Filters
  </div>
</div>
