.table-container {
  background-color: var(--white);
  padding: 36px 31px 30px 12px;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  table {
    thead {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      border-bottom: 0px solid !important;

      letter-spacing: 0.25px;
      color: var(--black);

      th,
      td {
        padding-top: 0px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 41px;
        border-bottom: 0;
      }
    }

    tbody {
      text-align: center;
      font-size: 14px;
      line-height: 24px;

      tr {
        background-color: var(--backgroudGray);
        border-bottom: 24px solid white;
        cursor: pointer;
      }
      tr:hover {
        background-color: #f3f3f3;
      }
      td {
        padding: 33px 0;
        height: 90px;
        line-height: 3;
        .image-span {
          padding-right: 10px;
        }
      }

      .status-style {
        font-weight: 700;
        font-size: 10px;
        width: 162px;
        padding-top: 42px;
        .status {
          border-radius: 20px;
          width: 162px;
          display: block;
          padding-top: 1px;
          padding-left: 10px;
          height: 24px;
          line-height: 2.2;
          text-align: left;
        }
      }

      .pointer {
        border-radius: 50%;
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 7px;
      }

      .action-group {
        .dropdown-menu {
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          border: 0;

          li + li {
            border-top: 1px solid #ebebeb;
          }
          .dropdown-item {
            img {
              padding-right: 11px;
            }
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: #3b3b3b;
            padding-top: 6px;
            padding-bottom: 6px;
          }

          .dropdown-item:hover {
            color: var(--pink);
          }

          .dropdown-item:active {
            background-color: var(--backgroudGray);
          }
          .dropdown-item:focus {
            background-color: var(--backgroudGray);
          }
        }
      }

      .dropdown-toggle:hover {
        svg {
          circle {
            fill: var(--pink) !important;
          }
        }
      }
    }
    .dropdown {
      text-align: center;
    }

    .dropdown-toggle {
      width: 100%;
    }

    .dropdown-toggle::after {
      display: none;
    }
  }
}

@media (max-width: 1240px) {
  thead {
    th {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
  }
}
